html {
    background-image: url("<URL>");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
  }
  div.App___StyledDiv-sc-2l91w7-0.fnfeQw {
    background-image: url("<URL>");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
  }